.table {
    border-spacing: 0;
    margin: 2rem;
    background-color: #f5f5f5;
    display: block;
    height: 400px;
    overflow-y: scroll;
    border: darkgrey;
    border-style: groove;

}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header {
    text-align: left;
    background-color: darkgrey
}

thead th {
    position: sticky;
    top: 0;
}

.table__cell {
    padding: 15px;
}

.table__sprinkler {
    padding: 15px
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    margin-left: 225px;
}

body {
    background-color: beige;
    margin-left: 50px;
    margin-right: 50px;
}