.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
    vertical-align: top;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 12px;
}

.sensor__cell {
    padding: 25px;
}

.heading {
    font-weight: 200;
    font-size: large;
}